<span {{action (mut closed) (not closed)}} class="bbl-lookup-toggle button tiny gray text-orange expanded no-margin" role="button">
  {{#if closed}}
    {{fa-icon 'chevron-down'}}
  {{else}}
    {{fa-icon 'chevron-up'}}
  {{/if}}
  BBL Lookup
</span>

{{#unless closed}}
  <form class="bbl-lookup-form" {{action "handleSubmit" on="submit"}}>
    <div class="bbl-power-select">
      <label>Borough</label>
      {{#power-select
          class="bbl-lookup--boro-select"
          tagName=div
          renderInPlace=true
          options=boroOptions
          searchEnabled=false
          selected=boro
          searchField='name'
          onChange=(action 'setBorocode')
          as |boro|}}
        {{boro.name}}
      {{/power-select}}
    </div>
    <div class="grid-x">
      <div class="cell auto block-container">
        <label>
          Block
          {{input class="bbl-lookup--block-input" type='number' value=block min='1' max='99999' key-up=(action 'validate')}}
        </label>
      </div>
      <div class="cell auto lot-container">
        <label>
          Lot
          {{input class="bbl-lookup--lot-input" type='number' value=lot min='1' max='9999' key-up=(action 'validate')}}
        </label>
      </div>
    </div>
    {{#if errorMessage}}<p class="lu-red text-center text-small">{{errorMessage}}</p>{{/if}}

    <input type="submit" value={{submitText}} class="button small expanded no-margin {{if (or validBlock validLot) '' 'disabled'}}">
  </form>
{{/unless}}

{{yield}}
