{{input type='text'
  placeholder=searchPlaceholder
  class='map-search-input'
  value=searchTerms
  focus-in=(action 'handleFocusIn')
  focus-out=(action 'handleFocusOut')}}

{{#if searchTerms}}
  <button class="clear-button" aria-label="Clear Search" type="button" {{action 'clear'}}>
    {{#if (and loading (is-fulfilled loading))}}
      {{fa-icon icon='spinner' spin=true class="dark-gray"}}
    {{else}}
      {{fa-icon icon='times' class="dark-gray"}}
    {{/if}}
  </button>
{{else}}
  {{fa-icon icon='search' class="search-icon"}}
{{/if}}

<ul class="search-results no-bullet{{if (or resultsCount currResults)' has-results'}} {{if _focused 'focused'}}"
  onmouseleave={{action 'handleHoverOut'}}
  {{! template-lint-disable "invalid-interactive" }}>
  {{#each-in (group-by "typeTitle" currResults) as |type rows|}}
    <li>
      <h4 class="header-small results-header">{{type}}</h4>
    </li>
    {{#each rows key='label' as |result|}}
      <li class="result {{if (eq selected result.id) 'highlighted-result'}}" {{action 'goTo' result}}
        onmouseover={{action 'handleHoverResult' result}}
        role="button">
        {{#if hasBlock}}
          {{yield (hash result=result)}}
        {{else}}
          {{result.label}}
        {{/if}}
      </li>
    {{/each}}
  {{/each-in}}
</ul>

{{#if (and searchTerms (not resultsCount) (is-fulfilled results))}}
  <div class="search-results--loading">No Results Found</div>
{{/if}}
